<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- 重置文件 -->
  <link rel="stylesheet" href="/static/css/normalize.css">
  <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/bootstrap.min.js"></script>
    <link href="/static/css/bootstrap.css" rel="stylesheet" />
  <title>测试平台用户登录</title>
</head>
<body>
<script>

</script>
  <div class="reg_div">
      <form method="post" action="">
          <p>用户登录</p>
    <ul class="reg_ul">

      <li>
          <span>用户名：</span>
          <input type="text" name="username" value="" placeholder="4-8位用户名" class="login_user">
          <span class="tip user_hint"></span>
      </li>
      <li>
          <span>密码：</span>
          <input type="password" name="password" value="" placeholder="6-16位密码" class="login_password">
          <span class="tip password_hint"></span>
      </li>
      <li>
        <button type="submit" name="button" id='submit' class="login_button">登录</button>
      </li>

    </ul>
          {% ifequal status_code 999 %}
            <div class="alert alert-danger alert-dismissable">{{ msg }}</div>
            {% endifequal %}
          {% ifequal status_code 101 %}
            <div class="alert alert-success alert-dismissable">{{ msg }}</div>
        {% endifequal %}
      </form>

  </div>
  
  <script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="/static/js/regsiter.js"></script>
  <div style="text-align:center;">
</div>
</body>
</html>
