{% extends 'robotTemplates/base.html' %}

{% block right_content %}
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">新增测试集</h3>
            </div>
            <div class="panel-body">
                <form id='obj_form' class="form-horizontal" action=" " method="POST">

                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="suite_num">{{ obj_form.suite_num.label }}</label>
                        <div class="col-md-4">
                            {{ obj_form.suite_num }}
                        </div>
                        {% if obj_form.suite_num.error_messages %}
                            <span class="errors" style="color: red">{{ obj_form.suite_num.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">{{ obj_form.name.label }}</label>
                        <div class="col-md-4">
                            {{ obj_form.name }}
                        </div>
                        {% if obj_form.name.errors %}
                            <span class="errors" style="color: red">{{ obj_form.name.error_messages }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group " style="display: none">
                        <label class="col-md-2 control-label" for="name">{{ obj_form.creator.label }}</label>
                        <div class="col-md-6">
                            {{ obj_form.creator }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">{{ obj_form.detail.label }}</label>
                        <div class="col-md-6">
                            {{ obj_form.detail }}
                        </div>
                    </div>
                    <div class="form-group" style="float: right;padding-right: 60px;">
                        <input class="btn btn-primary" type="submit"/>
                        <button class="btn btn-primary" type="reset">重置</button>
                        <button class="btn btn-primary" onclick="history.back(-1);" type="button">返回</button>
                    </div>
{#                    <div class="form-group errors">{{ error }} </div>#}

                    <script>
                        function msg(error_code){
                            toastr.options.positionClass = 'toast-top-center';
                            toastr.options.showDuration = 100;
                            $(function () {
                                var s = 100;
                                var f =error_code|safe;
                                
                                if (s === f) {
                                    toastr.success("保存成功");
    
                                }
                                else {
                                    toastr.error(error_code)
                                }
                            });
                        }
                        
                        function addTestCase() {
                            var post_data={};
                            $.ajax(
                                {
                                    url:{% url 'case_add' %},
                                    type:"POST",
                                    data:post_data,
                                    success:function (data) {
                                        data=JSON.parse(data);
                                                                                                                                                if (data["error_code"]==100){

                                        }
                                        
                                    }
                                }
                            )
                        }
                        
                    </script>
                </form>
            </div>

        </div>

    </div>
{% endblock %}