{% extends 'robotTemplates/base.html' %}

{% block right_content %}
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title">新增项目</h3>
            </div>
            <div class="panel-body">
                <form id='suiteform' class="form-horizontal" action=" " method="POST">

                    <div class="form-group ">
                        <label class="col-md-2 control-label" for="suite_num">{{ suiteform.suite_num.label }}</label>
                        <div class="col-md-4">
                            {{ suiteform.suite_num }}
                        </div>

                        {% if suiteform.suite_num.error_messages %}
                            <span class="errors" style="color: red">{{ suiteform.suite_num.errors }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">{{ suiteform.name.label }}</label>
                        <div class="col-md-4">
                            {{ suiteform.name }}
                        </div>
                        {% if suiteform.name.errors %}
                            <span class="errors" style="color: red">{{ suiteform.name.error_messages }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">{{ suiteform.belong_module.label }}</label>
                        <div class="col-md-6">
                            {{ suiteform.belong_module }}
                        </div>
                        {% if suiteform.name.errors %}
                            <span class="errors " style="color: red">{{ suiteform.name.error_messages }}</span>
                        {% endif %}
                    </div>
                    <div class="form-group " style="display: none">
                        <label class="col-md-2 control-label" for="name">{{ suiteform.creator.label }}</label>
                        <div class="col-md-6">
                            {{ suiteform.creator }}
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="name">{{ suiteform.detail.label }}</label>
                        <div class="col-md-6">
                            {{ suiteform.detail }}
                        </div>
                    </div>
                    {% if errors %}
                        <span class="errors " style="color: red">{{ error }}</span>
                    {% endif %}
                    {% if msg %}
                        <script>
                            alert(msg);
                        </script>
                    {% endif %}



                    <div class="form-group" style="float: right;padding-right: 60px;">
                        <input class="btn btn-primary" type="submit"/>
                        <button class="btn btn-primary" type="reset">重置</button>
                        <button class="btn btn-primary" onclick="history.back(-1);" type="button">返回</button>
                    </div>
                    <div class="form-group errors">{{ error }} </div>
{#                    <script>#}
{#                        $(function () {#}
{#                            $('form').bootstrapValidator({#}
{#                                message: 'This value is not valid',#}
{#                                feedbackIcons: {#}
{#                                    valid: 'glyphicon glyphicon-ok',#}
{#                                    invalid: 'glyphicon glyphicon-remove',#}
{#                                    validating: 'glyphicon glyphicon-refresh'#}
{#                                },#}
{#                                fields: {#}
{#                                    suite_num:{#}
{#                                        message: '测试集编号验证失败',#}
{#                                        validators: {#}
{#                                            notEmpty: {#}
{#                                                message: '测试集编号不能为空'#}
{#                                            },#}
{#                                            stringLength: {#}
{#                                                min: 6,#}
{#                                                max: 18,#}
{#                                                message: '测试集编号长度必须在6到18位之间'#}
{#                                            },#}
{#                                            regexp: {#}
{#                                                regexp: /^[a-zA-Z0-9_]+$/,#}
{#                                                message: '测试集编号只能包含大写、小写、数字和下划线'#}
{#                                            }#}
{#                                        }#}
{#                                    },#}
{#                                    name: {#}
{#                                        message: '测试集名称验证失败',#}
{#                                        validators: {#}
{#                                            notEmpty: {#}
{#                                                message: '测试集名称不能为空'#}
{#                                            },#}
{#                                            stringLength: {#}
{#                                                min: 6,#}
{#                                                max: 18,#}
{#                                                message: '测试集名称长度必须在6到18位之间'#}
{#                                            },#}
{#                                            regexp: {#}
{#                                                regexp: /^[a-zA-Z0-9_]+$/,#}
{#                                                message: '测试集名称只能包含大写、小写、数字和下划线'#}
{#                                            }#}
{#                                        }#}
{#                                    },#}
{#                                    detail: {#}
{#                                        validators: {#}
{#                                            notEmpty: {#}
{#                                                message: '项目详情不能为空'#}
{#                                            }#}
{#                                        }#}
{#                                    },#}
{#                                    remark: {#}
{#                                        validators: {#}
{#                                            stringLength: {#}
{#                                                max: 100,#}
{#                                                message: '备注长度不能超过100'#}
{#                                            }#}
{#                                        }#}
{#                                    }#}
{#                                }#}
{#                            });#}
{#                        });#}
{#                    </script>#}
                </form>
            </div>

        </div>

    </div>
{% endblock %}