{% extends 'robotTemplates/base.html' %}
{% block right_content %}
<div class="col-md-6">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h3 class="panel-title">编辑模块</h3>
				</div>
				<div class="panel-body">
					<form class="form-horizontal" action="" method="post">
						<div class="form-group">
							<label class="col-md-2 control-label" for="project_name">项目名称</label>
							<div class="col-md-4">
								<input class="form-control" id='project_name' name='project_name' placeholder="请输入项目名称" value={{ project.name }}/>
							</div>
						</div>
						<div class="form-group ">
							<label class="col-md-2 control-label" for="project_detail">项目描述</label>
							<div class="col-md-4 ">
								<input class="form-control text-success" id='project_detail' name='project_detail' placeholder="请输入项目描述" value={{ project.detail }} />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">项目类型</label>
							<div class="col-md-2">
								<select class="selectpicker" id='project_select'>
									<option value="">1</option>
									<option value="">2</option>
								</select>
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label">创建人</label>
							<div class="col-md-3">
								<input class="form-control" readonly="readonly" value="{{ project.creator }}" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-md-2 control-label" for="project_remark">项目备注</label>
							<div class="col-md-4">
								<input class="form-control" id='project_remark' name='project_remark' placeholder="请输入项目备注" value="" />
							</div>
						</div>

						<div class="form-group" style="float: right;padding-right: 60px;">
							<button class="btn btn-primary" type="submit" name="submit">确认</button>
							<button class="btn btn-primary" type="reset">重置</button>
							<button class="btn btn-primary" onclick="javascript:location.href='project_list.html'" type="button">返回</button>
						</div>
						<script>
							$(function () {
								$('form').bootstrapValidator({

									　　　　　　　　
									message: 'This value is not valid',
									　feedbackIcons: {　　　　　　　　
										valid: 'glyphicon glyphicon-ok',
										　　　　　　　　invalid: 'glyphicon glyphicon-remove',
										　　　　　　　　validating: 'glyphicon glyphicon-refresh'　　　　　　　　
									},
									fields: {
										project_name: {
											message: '项目名称验证失败',
											validators: {
												notEmpty: {
													message: '项目名称不能为空'
												},
												stringLength: {
													min: 6,
													max: 18,
													message: '项目名称长度必须在6到18位之间'
												},
												regexp: {
													regexp: /^[a-zA-Z0-9_]+$/,
													message: '项目名称只能包含大写、小写、数字和下划线'
												}
											}
										},
										project_detail: {
											validators: {
												notEmpty: {
													message: '项目详情不能为空'
												}
											}
										},
										project_remark: {
											validators: {
												stringLength: {
													max: 100,
													message: '备注长度不能超过100'
												}
											}
										}
									}
								});
							});
						</script>
					</form>
				</div>

			</div>

		</div>
		    <div class="col-md-3">

		</div>

{% endblock %}